<%- include('pages/partials/header'); -%>

    <body>
        <div id="log">

        </div>
        <div>
            <% for(var i=0; i<links.length;i++){ %>
                <p>
                <% for(var k=0; k<links[i].length;k++){ %>
            <a class="tile"><%=links[i][k] %></a>
            <% } %>
        </p>
            <% } %>
        </div>


         <!-- SVG hexagons
        <svg viewBox="-10 -86 920 1125">
            <g id="col1">
                <polygon width="10" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="black" stroke-width="3"
                    points="50.0,86.6 100.0,173.2 200.0,173.2 250.0,86.6 200.0,0.0 100.0,0.0" />

                <polygon xmlns="http://www.w3.org/2000/svg" id="hex0102" fill="none" stroke="black" stroke-width="3"
                    points="50.0,259.8 100.0,346.4 200.0,346.4 250.0,259.8 200.0,173.2 100.0,173.2" />
            </g>
            <g id="col2">
                <polygon xmlns="http://www.w3.org/2000/svg" id="hex0201" fill="none" stroke="black" stroke-width="3"
                    points="200.0,173.2 250.0,259.8 350.0,259.8 400.0,173.2 350.0,86.6 250.0,86.6" />
                <polygon xmlns="http://www.w3.org/2000/svg" id="hex0202" fill="none" stroke="black" stroke-width="3"
                    points="200.0,346.4 250.0,433.0 350.0,433.0 400.0,346.4 350.0,259.8 250.0,259.8" />
            </g>
            <g id="col3">
                <polygon xmlns="http://www.w3.org/2000/svg" id="hex0301" fill="none" stroke="black" stroke-width="3"
                    points="350.0,86.6 400.0,173.2 500.0,173.2 550.0,86.6 500.0,0.0 400.0,0.0" />
                <polygon xmlns="http://www.w3.org/2000/svg" id="hex0302" fill="none" stroke="black" stroke-width="3"
                    points="350.0,259.8 400.0,346.4 500.0,346.4 550.0,259.8 500.0,173.2 400.0,173.2" />
            </g>
        </svg>
    -->
    </body>

    <!-- Set two databases; one for Pantheon and one for Eidos-->